.edge {
  margin: 20px auto;
  padding: 30px;
  border-radius: 30px;
  border: 2px solid #5d9fff;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 60%, #6bbbff 90%);
  color: white;
}

.today-weather-icon {
  width: 150px;
  height: 150px;
  float: left;
}

.city-location {
  font-size: 40px;
  margin-left: 25px;
  font-weight: bold;
}

.date-time {
  margin-left: 30px;
  font-size: 23px;
}

ul {
  list-style-type: none;
}

.current-temp-weather {
  text-align: center;
  border: 3px solid white;
  border-radius: 75px;
  padding: 5px;
  margin-left: 50px;
}
.current-temp {
  font-size: 75px;
  height: 60px;
  font-weight: bold;
  position: relative;
  bottom: -30px;
}

.units {
  font-size: 20px;
  vertical-align: top;
  text-decoration: none;
  color: white;
  position: relative;
  bottom: -10px;
}

.units .active {
  cursor: default;
  border-radius: 50%;
  padding: 0px;
  border: 2px solid white;
  color: white;
  font-size: 40px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}

.class-weather {
  font-size: 30px;
  padding: 0px;
}

.current-condition {
  text-align: left;
  line-height: 50px;
  font-size: 25px;
  margin-top: 10px;
}

.message-of-the-day {
  font-family: "Caveat", cursive;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin: 0px, auto;
  position: relative;
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

.date {
  font-weight: bold;
}
form {
  line-height: 30px;
  font-size: 20px;
  margin-top: 7px;
}
.search-box {
  background-color: rgb(255, 255, 255);
  color: #fff;
  opacity: 0.5;
  color: blue;
  border-radius: 20px;
  text-align: center;
  border: inset;
  width: 250px;
}

button {
  background: #6ea8fe;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  width: 130px;
  border: white;
  padding-top: 5px;
}

.credit {
  font-size: 12px;
  text-align: center;
}

.source-code {
  color: blue;
}

.source-code:hover {
  text-decoration: underline;
  color: blue;
}

.next-days {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.tmr-temp {
  font-size: 25px;
}
